<a href="https://colab.research.google.com/github/2303A51475/B8_PFDS_2303A51475/blob/main/lab-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Define student data
data = {
    'Student_ID': list(range(1, 21)),
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack',
        'Kate', 'Leo', 'Mia', 'Nina', 'Oscar', 'Paul', 'Quinn', 'Rachel', 'Steve', 'Tina'
    ],
    'Math': [88, 76, np.nan, 90, 65, 82, np.nan, 70, 92, 55,
             80, 73, np.nan, 84, 67, np.nan, 77, 89, 60, 93],
    'Science': [92, np.nan, 78, 95, 68, np.nan, 85, 75, 89, np.nan,
                83, 79, 90, 88, 70, 74, np.nan, 91, 65, np.nan],
    'English': [85, 79, 70, 91, np.nan, 88, 92, 70, 94, 60,
                np.nan, 78, 86, np.nan, 65, 71, 80, 87, 70, 95]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv('student_scores.csv', index=False)

print("✅ student_scores.csv has been created successfully.")

✅ student_scores.csv has been created successfully.

In [ ]:
import pandas as pd

df = pd.read_csv('student_scores.csv')

df[['Math', 'Science', 'English']] = df[['Math', 'Science', 'English']].fillna(df[['Math', 'Science', 'English']].mean())

high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]

print("All Students with Missing Values Filled:")
print(df)
print("\nHigh Achievers (Marks > 75 in all subjects):")
print(high_achievers)

All Students with Missing Values Filled:
    Student_ID     Name     Math    Science    English
0            1    Alice  88.0000  92.000000  85.000000
1            2      Bob  76.0000  81.466667  79.000000
2            3  Charlie  77.5625  78.000000  70.000000
3            4    David  90.0000  95.000000  91.000000
4            5      Eve  65.0000  68.000000  80.058824
5            6    Frank  82.0000  81.466667  88.000000
6            7    Grace  77.5625  85.000000  92.000000
7            8     Hank  70.0000  75.000000  70.000000
8            9      Ivy  92.0000  89.000000  94.000000
9           10     Jack  55.0000  81.466667  60.000000
10          11     Kate  80.0000  83.000000  80.058824
11          12      Leo  73.0000  79.000000  78.000000
12          13      Mia  77.5625  90.000000  86.000000
13          14     Nina  84.0000  88.000000  80.058824
14          15    Oscar  67.0000  70.000000  65.000000
15          16     Paul  77.5625  74.000000  71.000000
16          17    Quinn  77.0000  81.466667  80.000000
17          18   Rachel  89.0000  91.000000  87.000000
18          19    Steve  60.0000  65.000000  70.000000
19          20     Tina  93.0000  81.466667  95.000000

High Achievers (Marks > 75 in all subjects):
    Student_ID    Name     Math    Science    English
0            1   Alice  88.0000  92.000000  85.000000
1            2     Bob  76.0000  81.466667  79.000000
3            4   David  90.0000  95.000000  91.000000
5            6   Frank  82.0000  81.466667  88.000000
6            7   Grace  77.5625  85.000000  92.000000
8            9     Ivy  92.0000  89.000000  94.000000
10          11    Kate  80.0000  83.000000  80.058824
12          13     Mia  77.5625  90.000000  86.000000
13          14    Nina  84.0000  88.000000  80.058824
16          17   Quinn  77.0000  81.466667  80.000000
17          18  Rachel  89.0000  91.000000  87.000000
19          20    Tina  93.0000  81.466667  95.000000

In [ ]:
import pandas as pd

df = pd.read_csv('student_scores.csv')

df[['Math', 'Science', 'English']] = df[['Math', 'Science', 'English']].fillna(df[['Math', 'Science', 'English']].mean())

high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]

print("High Achievers (Marks > 75 in all subjects):")
print(high_achievers)

High Achievers (Marks > 75 in all subjects):
    Student_ID    Name     Math    Science    English
0            1   Alice  88.0000  92.000000  85.000000
1            2     Bob  76.0000  81.466667  79.000000
3            4   David  90.0000  95.000000  91.000000
5            6   Frank  82.0000  81.466667  88.000000
6            7   Grace  77.5625  85.000000  92.000000
8            9     Ivy  92.0000  89.000000  94.000000
10          11    Kate  80.0000  83.000000  80.058824
12          13     Mia  77.5625  90.000000  86.000000
13          14    Nina  84.0000  88.000000  80.058824
16          17   Quinn  77.0000  81.466667  80.000000
17          18  Rachel  89.0000  91.000000  87.000000
19          20    Tina  93.0000  81.466667  95.000000